In [5]:
import pandas as pd
import numpy as np
import os

# Cargar los datos
data = pd.read_csv('bbdd/redcard_data.csv')
data.head

data['age'] = 2013 - pd.to_datetime(data['birthday']).dt.year

/var/folders/hg/s4skq8ks6g1fy2jw2fdkp0840000gn/T/ipykernel_7538/3965900859.py:9: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['age'] = 2024 - pd.to_datetime(data['birthday']).dt.year

In [6]:
data['elite'] = np.where(data['club'].isin([
    'FC Barcelona', 'Real Madrid','Atlético Madrid',
    'Borussia Dortmund', 'Bayern München','Bayer Leverkusen',
    'Olympique Lyon','Paris Saint Germain','Olympique Marseille',
    'Chelsea FC', 'Manchester City','Manchester United'
]), 1, 0)
data['elite'] = data['elite'].map({1: 'Elite', 0: 'No-Elite'})
data['elite'] = data['elite'].astype(str)

In [7]:
data['rater_mean'] = data.apply(
    lambda row: row['rater2'] * 2 if pd.isna(row['rater1']) else 
                (row['rater1'] * 2 if pd.isna(row['rater2']) else 
                 (row['rater1'] + row['rater2']) / 2), 
    axis=1
)
# Eliminar filas con cualquier valor NaN
data = data.dropna()
# Mostrar las primeras filas de 'rater_mean' y 'elite'
print(data[['rater_mean', 'elite']].head(2))

   rater_mean     elite
0       0.375  No-Elite
1       0.750  No-Elite

In [9]:
import pandas as pd
stats_by_elite = data.groupby('elite').agg(
    age_mean=('age', 'mean'),
    rater_mean_mean=('rater_mean', 'mean')
).reset_index()

# Mostrar los resultados
print(stats_by_elite)

      elite   age_mean  rater_mean_mean
0     Elite  38.494500         0.276224
1  No-Elite  39.376855         0.282722